Repository zerovacancy/zerovacancy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error', stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'"
  ],
  "*.{css,scss}": [
    "stylelint --fix"
  ]
}

Fix Vercel build error - make husky optional in production
  package-lock.json
  package.json
Due: none

Fix safety issues and improve mobile compatibility
  eslint-cls-rules.js
  index.html
  public/debug-blank-page.js
  public/debug-page.js
  src/components/FOUCPrevention.tsx
  src/components/SEO.tsx
  src/main.tsx
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Fix ESLint and TypeScript issues
  eslint-cls-rules.js
  src/main.tsx
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

EMERGENCY FIX: Resolve blank page issues
  index.html
Due: none

CRITICAL EMERGENCY FIX: Add static fallback content
  index.html
Due: none

EMERGENCY PRODUCTION FIX: Add direct asset loading for JS and CSS
  index.html
Due: none

FIX BUILD ERROR: Remove img tag from noscript in head
  index.html
Due: none

CRITICAL JS LOADING FIX: Resolve asset loading in production
  index.html
  public/debug-blank-page.js
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Remove debug scripts from production (#4)
  index.html
Due: none

Fix UI alignment issues and remove emergency scripts
  index.html
  public/cls-prevention.css
  src/components/Header.tsx
  src/components/creator/CreatorCard.tsx
  src/styles/cookie-consent-fix.css
  src/utils/mobile-optimization.ts
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error', stylelint --fix

Complete emergency code cleanup from index.html
  index.html
Due: none

Fix Supabase environment variable issues
  README-ENV-FIX.md
  SUPABASE-ENV-FIX-SUMMARY.md
  ensure-env.cjs
  package.json
  src/check-env-browser.tsx
  src/components/auth/AuthContext.tsx
  src/integrations/supabase/client-direct.ts
  src/integrations/supabase/client.ts
  vite.config.js
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Fix production blank page issue
  PRODUCTION-FIX.md
  index.html
  public/fallback-index.html
  src/App.tsx
  vercel.json
  vite.config.js
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Comprehensive fix for production blank page
  PRODUCTION-BLANK-PAGE-FIX.md
  index.html
  package.json
  public/env-config.js
  src/components/auth/AuthContext.tsx
  src/integrations/supabase/client-runtime.ts
  src/types/window.d.ts
  vercel-build.js
  vercel.json
  vite-env-injector.js
  vite.config.js
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Fix Vercel build error with .cjs extension
  package.json
  vercel-build.cjs
  vercel.json
Due: none

EMERGENCY FIX: Direct HTML page with hardcoded credentials
  emergency-fix.html
  emergency-inject.sh
  src/hardcoded-supabase.js
  vercel.json
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Proper Vercel environment variable fix
  .env.production
  README-VERCEL-FIX.md
  VERCEL-DEPLOYMENT-GUIDE.md
  package.json
  public/env-config.js
  src/App.tsx
  src/components/debug/EnvDebug.tsx
  src/integrations/supabase/client.ts
  src/types/window.d.ts
  update-env-config.js
  vercel.json
  vite.config.js
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Fix static asset MIME type issues in Vercel deployment
  package.json
  update-env-config.mjs
  vercel.json
Due: none

Add documentation for Vercel static assets fix
  VERCEL-STATIC-ASSETS-FIX.md
Due: none

CRITICAL: Remove all rewrites to fix maintenance page issue
  vercel.json
Due: none

Fix service worker pre-cache list and asset references
  index.html
  public/fallback-index.html
  public/service-worker.js
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Fix build errors caused by hardcoded hashed asset filenames
  index.html
  public/fallback-index.html
  public/service-worker.js
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Fix URL errors and invalid file references
  index.html
  public/env-config.js
  public/fallback-index.html
  public/service-worker.js
  src/pages/AuthCallback.tsx
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Add robust environment variable handling and debugging tools
  index.html
  public/debug-env-vars.js
  public/env-config.js
  src/integrations/supabase/client.ts
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Fix export syntax error in Supabase client
  src/integrations/supabase/client.ts
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Trigger redeployment with updated debug script
  public/debug-env-vars.js
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Fix mobile layout for social proof component
  src/components/ui/waitlist/social-proof.tsx
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Update script paths
  package.json
  scripts/build/ensure-env.cjs
  scripts/build/update-env-config.mjs
  scripts/build/vercel-build.cjs
  scripts/build/vite-env-injector.js
  scripts/build/vite-exclude-archived-plugin.js
  scripts/build/vite-tiptap-plugin.js
  scripts/dev/debug-blog-errors.js
  scripts/dev/dev-cls-monitor.js
  scripts/maintenance/add-team-author.js
  scripts/maintenance/analyze-site-cls.sh
  scripts/maintenance/archive-unused-assets.sh
  scripts/maintenance/clean-heroparallax-references.sh
  scripts/maintenance/cleanup-deprecated-assets.sh
  scripts/maintenance/code_review.sh
  scripts/maintenance/create-admin-user.js
  scripts/maintenance/emergency-inject.sh
  scripts/maintenance/find-unused-assets.sh
  scripts/maintenance/fix-react-hooks-simple.sh
  scripts/maintenance/fix-react-hooks.sh
  scripts/maintenance/generate-sitemap.ts
  scripts/maintenance/quick-optimize.mjs
  scripts/maintenance/simplified-asset-audit.sh
  scripts/maintenance/verify-seo.ts
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'

Move scripts directory and update paths
  package.json
  scripts/ADMIN-USER-GUIDE.md
  scripts/BLOG-PERMISSIONS-GUIDE.md
  scripts/add-team-author.js
  scripts/add-team-author.sql
  scripts/create-admin-user.js
  scripts/fix-blog-permissions.sql
  scripts/generate-sitemap.ts
  scripts/verify-seo.ts
Due: eslint --fix --rule 'cls/img-explicit-dimensions: error' --rule 'cls/safe-fixed-positioning: error' --rule 'cls/safe-animations: error'
